
<app-header (homepageCalled)="pressHomemethodFromHomeComponent($event)" [getting-LoginValue-FromHeader]='GotLoginValue'></app-header>
<br><br>
          <h1 *ngIf="HomemethodFromHomeComponentVariable == 'Home Component Called'"><app-home></app-home></h1>
          <h1 *ngIf="HomemethodFromHomeComponentVariable == 'About Component Called'"><app-about></app-about></h1>
          <h1 *ngIf="HomemethodFromHomeComponentVariable == 'Blogs Component Called'">{{HomemethodFromHomeComponentVariable}}</h1>
<div *ngIf="currentlyLoginStatus == 0">
              <h1 class="login_h1"> you have try {{clickCounter}}  Time</h1>
              <h1 class="login_h1">{{errorMessage}}</h1>
    <br><br>
    <div id="loginID">
      <label for="fname">First name:</label>
      <input [(ngModel)]="ngusername" type="text" ><br><br>
      <label for="lname">Last name:</label>
      <input [(ngModel)]="ngpassword" type="text" name="lname"><br><br>
      <button id="div_button" (click)="checkNameAndPassword()">Submit</button>
    </div>
</div>
<div *ngIf="currentlyLoginStatus == 1">
      <app-blog></app-blog>
</div>
<app-footer></app-footer>
